@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
.Navbar{
    position: static;
    width: 100%;
    padding: 0;
}
.NavbarList{
    display: flex;
    gap: 1.5rem;
}
.NavbarList li a{
    font-size: 20px;
    color: black;
    padding: 1.2rem;
    font-weight: bold;
    font-family: 'Bona Nova', serif;
    transition: all 0.2s ease-in-out;
}
.NavbarListMob{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1rem;
    padding: 0;
}
.NavbarListMob li{
    border-bottom: 1px solid #dadada79;
    width: 100%;
}
.NavbarListMob li a{
    font-size: 1.5rem;
}
.NavbarList li a:hover{
    transition: all 0.2s ease-in-out;
    color: #3F48C9;
}